<launch>

  <arg name="mapping" type="bool" default="true" />
  <arg name="odom_topic" default="/odom"/>
  
  <!-- Point to Plane ICP? (has effect only when hector:=false) -->
  <arg name="p2n" default="true" />
  <!-- Use libpointmatcher for ICP? (has effect only when hector:=false) -->
  <arg name="pm" default="true" />

  <!-- ICP Odometry -->
  <!--node pkg="rtabmap_odom" type="icp_odometry" name="icp_odometry" output="screen" >
     <remap from="scan"      to="/f_scan"/>
     <remap from="odom"      to="/scanmatch_odom"/>
     <remap from="odom_info"      to="/rtabmap/odom_info"/>
     <param name="frame_id"        type="string" value="mir/base_link"/>
     <param name="deskewing"       type="string" value="true"/>
  </node-->
  <!-- RGBD Odometry-->
  <!--node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen" >
     <remap from="rgbd_image"      to="rtabmap/rgbd_image"/>
     <remap from="odom"      to="/scanmatch_odom"/>
     <remap from="odom_info"      to="/rtabmap/odom_info"/>
     <param name="frame_id"        type="string" value="mir/base_link"/>
     <param name="deskewing"       type="string" value="true"/>
     <param name = "subscribe_rgbd" value = "true"/>
  </node-->
  

  <group ns="rtabmap">
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/realsense/rgb/image_raw"/>
      <remap from="depth/image"     to="/realsense/aligned_depth_to_color/image_raw"/>
      <!--remap from="depth/image"     to="/s_map/depth_filtered"/-->
      <remap from="rgb/camera_info" to="/realsense/rgb/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
            (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="true"/> 
      <param name="queue_size"        value="100"/>
    </node>

    <!-- SLAM -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <group unless="$(arg mapping)">
      <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="">
        <param name="Mem/IncrementalMemory" type="string" value="false"/>
        <param name="Optimizer/Strategy" value="2"/> <!-- 0=TORO 1=g2o 2=GTSAM-->
        <param name="subscribe_depth"  type="bool"   value="false"/>
        <param name="subscribe_rgbd"   type="bool"   value="true"/>
        <!--param name="subscribe_rgb"   type="bool"   value="true"/-->
        <param name="frame_id"         type="string" value="mir/base_link"/>
        <param name="subscribe_scan"   type="bool"   value="true"/>
        <param name="GridGlobal/MinSize" value = "30" />
        <param name="Grid/RangeMax" value = "9" />
        <param name="Vis/MinInliers" value = "10" />
        <param name="Vis/EstimationType" value = "0" />
        <param name="queue_size"        value="100"/>

        <param name="Reg/Force3DoF"             type="string" value="true"/>
        <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->

        <remap from="scan" to="/scan"/>
        <remap from="odom" to="$(arg odom_topic)"/>

        <!--remap from="/rtabmap/rgb/image" to="/realsense/rgb/image_raw" />
        <remap from="/rtabmap/rgb/camera_info" to="/realsense/rgb/camera_info" /-->
        <param name="Grid/FromDepth"     type="string" value="true"/>

        <!-- RTAB-Map's parameters -->
        <param name="Rtabmap/DetectionRate" type="int" value="30"/> <!-- 0=as fast as possible -->
      </node>
    </group>

    <!-- SLAM -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <group if="$(arg mapping)">
      <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="--delete_db_on_start">
        <param name="Mem/IncrementalMemory" type="string" value="true"/>
        <param name="Optimizer/Strategy" value="2"/> <!-- 0=TORO 1=g2o 2=GTSAM-->
        <param name="subscribe_depth"  type="bool"   value="false"/>
        <param name="subscribe_rgbd"   type="bool"   value="true"/>
        <!--param name="subscribe_rgb"   type="bool"   value="true"/-->
        <param name="frame_id"         type="string" value="mir/base_link"/>
        <param name="subscribe_scan"   type="bool"   value="true"/>
        <param name="GridGlobal/MinSize" value = "30" />
        <param name="Grid/RangeMax" value = "9" />
        <param name="Vis/MinInliers" value = "10" />
        <param name="Vis/EstimationType" value = "0" />
        <param name="queue_size"        value="100"/>

        <param name="Reg/Force3DoF"             type="string" value="true"/>
        <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->

        <remap from="scan" to="/scan"/>
        <remap from="odom" to="$(arg odom_topic)"/>

        <!--remap from="/rtabmap/rgb/image" to="/realsense/rgb/image_raw" />
        <remap from="/rtabmap/rgb/camera_info" to="/realsense/rgb/camera_info" /-->
        <param name="Grid/FromDepth"     type="string" value="true"/>

        <!-- RTAB-Map's parameters -->
        <param name="Rtabmap/DetectionRate" type="int" value="30"/> <!-- 0=as fast as possible -->
      </node>
    </group>
  </group>

</launch>
