<launch>
    <arg name="camera_name" default="frontleft"/>
    <arg name="manager" default="manager"/>

    <node pkg="nodelet" type="nodelet" name="depth_to_pointcloud_$(arg camera_name)" args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)" respawn="true">
        <remap from="rgb/camera_info" to="$(arg camera_name)/rgb/camera_info"/>
        <remap from="rgb/image_rect_color" to="$(arg camera_name)/rgb/image_rect"/>
        <remap from="depth_registered/image_rect" to="/$(arg camera_name)/aligned_depth/image_rect"/>
        <remap from="depth_registered/points" to="/$(arg camera_name)/points"/>
    </node>
</launch>
